/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
#logout
{
	display: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
	cursor:pointer
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
	cursor: pointer;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

#log
{
	font-weight: 600;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}


#filtres
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	column-gap: 10px;
}
.filtre
{
	border: 1px;
	border-style: solid;
	border-radius: 60px;
	border-color: #1D6154;
	height: 37px;
	margin-bottom: 51px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: auto;
	padding-left: 1%;
	padding-right: 1%;
}
.tous
{
	border: 1px;
	border-style: solid;
	border-radius: 60px;
	border-color: #1D6154;
	height: 37px;
	margin-bottom: 51px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: auto;
	padding-left: 1%;
	padding-right: 1%;
}

.filtre:hover
{
	background-color: #1D6154;
}
.tous:hover
{
	background-color: #1D6154;
}
.filtre p:hover
{
	color: white;
}
.tous p:hover
{
	color: white;
}
.filtre p
{
	color: #1D6154;
	text-align: center;
	font-weight: 700;
	font-size: 16px;
	margin: 0px;
	padding: 0px;
}

.tous p
{
	color: #1D6154;
	text-align: center;
	font-weight: 700;
	font-size: 16px;
	margin: 0px;
	padding: 0px;
}


login h1
{
	color: #1D6154;
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 37px;
}

login div
{
	display: flex;
	flex-direction: column;
}

#mdp
{
	margin-top: 30px;
	display: flex;
	width: 34%;
	margin-left: auto;
	margin-right: auto;
}
#seconnecter
{
	width: 34%;
	margin-left: auto;
	margin-right: auto;
}
#seconnecter input
{
	width: 100%;
	height: 51px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	border: none;
}
#mdp input
{
	width: 100%;
	height: 51px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	border: none;
}

login p
{
	margin-bottom: 7px;
	text-align: left;
}

#zoneclique
{
	margin-top: 37px;
}
#zoneclique input
{
	color: white;
	background-color: #1D6154;
	border: none;
	width: 17%;
	height: 36px;
	border-radius: 60px;
	display: flex;
	margin-left: auto;
	margin-right: auto;
}
#zoneclique a
{
	margin-top: 28px;
	text-align: center;
	font-weight: 500;
	color: #3D3D3D;
	font-size: 14px;
}

#rectangle
{
	background-color: black;
	display: none;
	height: 59px;
}

#boutonrectangle
{
	display: flex;
	flex-direction: row;
	cursor: pointer;
}
#rectangle a
{
	border: none;
	background-color: black;
	color: white;
	flex-direction: row;
	margin-left: 36%;
	margin-top: 20px;
	column-gap: 12px;
	text-decoration: none;
}
#rectangle input
{
	background-color: white;
	color: black;
	width: 216px;
	height: 38px;
	border-radius: 60px;
	margin-top: 10px;
	margin-right: 34%;
	cursor: pointer;
}
#boutonmodal
{
	color: black;
	display: none;
	font-size: 14px;
	column-gap: 12px;
	margin-left: 53px;
	margin-top: 15px;
	text-decoration: none;
	cursor: pointer;
}

#modifierworks
{
	border: none;
	background-color: white;
	color: black;
	display: none;
	font-size: 14px;
	column-gap: 12px;
	margin-top: 10px;
	text-decoration: none;
	cursor: pointer;
}

#projet
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	column-gap: 31px;
}

.modalContener{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: inline-flex;
	display: none;
}
#modale1
{
	position: relative;
	margin: auto;
	background-color: #FFFFFF;
	width: 630px;
	border-radius: 10px;
}

.closeModale
{
	border: none;
	background-color: white;
	margin-left: 92%;
	margin-top: 32px;
	cursor: pointer;
}


aside h3
{
	font-weight: 400;
	text-align: center;
	font-size: 26px;
}
#images
{
	display: grid;
	grid-template-columns: 78px 78px 78px 78px 78px;
	row-gap: 26px;
	column-gap: 7px;
	justify-content: center;
	margin-top: 46px;
}


#images .imge
{
	width: 78px;
	height: 104px;
	margin: 0;
	position: relative;
}

.imge img {
	height: 104px;
	width: 78px;
}

.imge i {
	position: absolute;
	top: 6px;
	left: 52px;
}
.imge .icones
{
	display: flex;
	flex-direction: row;
}

.imge .arrow
{
	left: 25px;
}
.imge .poubelle
{
	left: 52px;
}
#images i
{
	border-style: solid;
	background-color: black;
	border-color: black;
	color: white;
	border-width: 4px;
}

.trait
{
	color: #B3B3B3;
	border: 1px;
	border-style: solid;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 47px;
}

#modale1 #dialogbox
{
	width: 100%;
}

#btns
{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 48px;
	row-gap: 23px;
	cursor: pointer;
}
#modale1 #ajtphoto
{
	background-color: #1D6154;
	border: none;
	width: 237px;
	height: 36px;
	color: white;
	border-radius: 60px;
	cursor: pointer;
}

#modale1 #suppgallerie
{
	color: #D65353;
	font-size: 14px;
	text-decoration: none;
	margin-bottom: 48px;
	cursor: pointer;
}

#modale2
{
	display: none;
	position: relative;
	margin: auto;
	background-color: #FFFFFF;
	width: 630px;
	border-radius: 10px;
	padding-bottom: 55px;
}
#headerModal
{
	display: flex;
	flex-direction: row;
}
#headerModal .closeModale
{
	margin-left: 85%;
	cursor: pointer;
}
#return
{
	border: none;
	width: 21px;
	background-color: white;
	margin-left: 30px;
	margin-top: 30px;
	cursor: pointer;

}
#cadrePhoto
{
	background-color: #E8F1F6;
	text-align: center;
	margin-top: 36px;
	height: 169px;
	width: 420px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}
#cadrePhoto i
{
	color: #B9C5CC;
	height: 46px;
	margin-top: 28px;
}
#cadrePhoto h4
{
	font-weight: 400;
	font-size: 10px;
	margin-top: 7px;
}

#addPhotos {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
    z-index: -1;
	cursor: pointer;
}

.custom-file-upload {
	width: 173px;
	height: 36px;
	color: #306685;
	background-color: #CBD6DC;
	border-radius: 50px;
	border: none;
	margin-top: 21px;
	cursor: pointer;
}

.custom-file-upload p
{
	font-size: 14px;
	font-weight: 500;
	margin-top: 10px;
	cursor: pointer;
}
#imagePreview
{
	height: 169px;
	position: absolute;
}

#zoneTexte
{ 
	margin-top: 9px;
	display: flex;
	flex-direction: column;
	width: 420px;
	margin-left: auto;
	margin-right: auto;
}
#zoneTexte input,select
{
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	height: 51px;
	background-color: white;
	margin-top: 10px;
}
#zoneTexte h4
{
	margin-top: 21px;
}
#valider
{
	margin-top: 42px;
	display: flex;
	justify-content: center;
}
#valider button
{
	background-color: #A7A7A7;
	color: white;
	width: 237px;
	height: 36px;
	border-radius: 60px;
	border: none;
	cursor: pointer;
}